// 下拉菜单 <details>

/*
 * details-reset删除details自带样式
 * aria-haspopup=true表示点击时会出现菜单或浮动元素
 * 下拉状态为打开状态时aria-expanded同步更改为true
 *
 * <div class="dropdown-menu dropdown-menu-right dropdown-menu-caret">
 *     <a class="dropdown-item" href="#">One</a>
 *     <a class="dropdown-item" href="#">Two</a>
 *     <a class="dropdown-item" href="#">Three</a>
 * </div>
 */
.dropdown .dropdown-menu
    position absolute
    top 100%
    left 0
    z-index $zindex-subject
    padding 5px 0
    margin $spacer-1 0 0 0
    border $border-width $border-style $black-fade-15
    border-radius 4px
    list-style none
    background-color $bg-white
    background-clip padding-box
    box-shadow 0 3px 12px $black-fade-15

    // 菜单对齐
    // 默认情况下,下拉菜单会自动从父菜单顶部100%和左侧对齐
    // 添加该类,使下拉菜单右对齐
    &.dropdown-menu-right
        right 0
        left auto

    // 生成下拉菜单插入符号,小三角
    &.dropdown-menu-caret
        margin-top $spacer-2
        &::before
            content ''
            position absolute
            top -16px
            left 9px
            border 8px $border-style transparent
            border-bottom-color $black-fade-15
        &::after
            content ''
            position absolute
            top -14px
            left 9px
            border 8px $border-style transparent
            border-bottom-color $bg-white

        &.dropdown-menu-right
            &::before, &::after
                right 9px
                left auto

    // 下拉菜单选项
    .dropdown-item
        display block
        overflow hidden
        padding $spacer-1 $spacer-3
        color $text-gray-dark
        background-color $bg-white
        white-space nowrap
        text-overflow ellipsis
        cursor pointer
        &:hover
            color $text-white
            background-color $bg-blue
            text-decoration none

    // 下拉菜单分隔符,可以使用<hr>
    .dropdown-divider
        display block
        height 1px
        margin $spacer-2 1px
        background-color $gray-200
        border none
