// color util

// 背景颜色
.bg-white           { background-color: $bg-white !important; }
.bg-black           { background-color: $bg-black !important; }
.bg-blue            { background-color: $bg-blue !important; }
.bg-blue-light      { background-color: $bg-blue-light !important; }
.bg-gray-dark       { background-color: $bg-gray-dark !important; }
.bg-gray            { background-color: $bg-gray !important; }
.bg-gray-light      { background-color: $bg-gray-light !important; }
.bg-green           { background-color: $bg-green !important; }
.bg-green-light     { background-color: $bg-green-light !important; }
.bg-red             { background-color: $bg-red !important; }
.bg-red-light       { background-color: $bg-red-light !important; }
.bg-yellow          { background-color: $bg-yellow !important; }
.bg-yellow-light    { background-color: $bg-yellow-light !important; }
.bg-yellow-dark     { background-color: $bg-yellow-dark !important; }
.bg-purple          { background-color: $bg-purple !important; }
.bg-pink            { background-color: $bg-pink !important; }
.bg-purple-light    { background-color: $bg-purple-light !important; }

// 为每种色调生成前景色与背景色
for $hue, $shades in $hue-maps
    for $index, $color in $shades
        .color-{$hue}-{$index} { color: $color !important; }
        .bg-{$hue}-{$index} { background-color: $color !important; }

.bg-shade-gradient
    background-image linear-gradient(180deg, rgba($black, 0.065), rgba($black, 0)) !important
    background-repeat no-repeat !important
    background-size 100% 200px !important

// 文本颜色
.text-white         { color: $text-white !important; }
.text-black         { color: $text-black !important; }
.text-blue          { color: $text-blue !important; }
.text-red           { color: $text-red !important; }
.text-gray          { color: $text-gray !important; }
.text-gray-light    { color: $text-gray-light !important; }
.text-gray-dark     { color: $text-gray-dark !important; }
.text-green         { color: $text-green !important; }
.text-yellow        { color: $text-yellow !important; }
.text-orange        { color: $text-orange !important; }
.text-orange-light  { color: $text-orange-light !important; }
.text-purple        { color: $text-purple !important; }
.text-pink          { color: $text-pink !important; }
.text-inherit       { color: inherit !important; }

// 链接颜色
// 设置链接颜色为$text-gray和鼠标悬停时颜色为$text-blue
.link-gray
    color $text-gray !important
    &:hover
        color $text-blue !important

// 设置链接颜色为$text-gray-dark和鼠标悬停时颜色为$text-blue
.link-gray-dark
    color $text-gray-dark !important
    &:hover
        color $text-blue !important

// 设置链接鼠标悬停时颜色为$text-blue
.link-hover-blue
    &:hover
        color $text-blue !important

// 设置链接颜色为$text-gray,鼠标悬停时颜色为$text-blue同时删除鼠标悬停时的下划线
.muted-link
    color $text-gray !important
    &:hover
        color $text-blue !important
        text-decoration none

// 设置链接颜色为$text-gray-dark和鼠标悬停时颜色为$text-red
.link-danger
    color $text-gray !important
    &:hover
        color $text-red !important