// details util

// 清除默认三角形
.details-reset
    // Remove marker added by the display: list-item browser default
    > summary { list-style: none; }
    // Remove marker added by details polyfill
    > summary::before { display: none; }
    // Remove marker added by Chrome
    > summary::-webkit-details-marker { display: none; }
    // Remove marker added by Firefox
    > summary::-moz-list-bullet { font-size: 0; }

// 添加一个覆盖全屏幕的伪元素,点击该伪元素可以关闭details元素
// details元素展示内容的z-index值应该大于该伪元素z-index值
.details-overlay[open] > summary::before
    content ''
    position: fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index $zindex-backdrop
    display block
    cursor default
    background transparent

.details-overlay-dark[open] > summary::before
    background $black-fade-50

// details状态
/*
 * <details class="details-reset">
 *   <summary>
 *     <svg class="details-open octicon octicon-chevron-down">...</svg>
 *     <svg class="details-closed octicon octicon-chevron-right">...</svg>
 *   </summary>
 * </details>
 */
details
    &:not([open]) > summary .details-open
        display none
    &[open] > summary .details-closed
        display none

/*
 * <details class="details-reset">
 *   <summary>
 *     <svg class="details-status octicon octicon-chevron-up">...</svg>
 *   </summary>
 *
 * </details>
 */
details
    > summary .details-status
        transition transform .3s ease-in
    // details标签关闭状态
    &:not([open]) > summary .details-status
        &.octicon-chevron-up
            transform rotate(90deg)
        &.octicon-chevron-right
            transform rotate(0)
        &.octicon-chevron-down
            transform rotate(-90deg)
        &.octicon-chevron-left
            transform rotate(180deg)
    // details标签打开状态
    &[open] > summary .details-status
        &.octicon-chevron-up
            transform rotate(180deg)
        &.octicon-chevron-right
            transform rotate(90deg)
        &.octicon-chevron-down
            transform rotate(0)
        &.octicon-chevron-left
            transform rotate(270deg)