// layout util

// 元素定位类型
for $breakpoint, $variant in $responsive-variants
    +breakpoint($breakpoint)
        for $position in $responsive-positions
            .position{$variant}-{$position}
                position $position !important

.top-0    { top: 0 !important; }
.right-0  { right: 0 !important; }
.bottom-0 { bottom: 0 !important; }
.left-0   { left: 0 !important; }

// 元素对齐方式
.v-align-middle      { vertical-align: middle !important; }
.v-align-top         { vertical-align: top !important; }
.v-align-bottom      { vertical-align: bottom !important; }
.v-align-text-top    { vertical-align: text-top !important; }
.v-align-text-bottom { vertical-align: text-bottom !important; }
.v-align-baseline    { vertical-align: baseline !important; }

// 元素浮动方向
for $breakpoint, $variant in $responsive-variants
    +breakpoint($breakpoint)
        .float{$variant}-left     { float: left !important; }
        .float{$variant}-right    { float: right !important; }
        .float{$variant}-none     { float: none !important; }

// 元素宽度与高度
.width-fit   { max-width: 100% !important; }
.width-full  { width: 100% !important; }
.height-fit  { max-height: 100% !important; }
.height-full { height: 100% !important; }
.min-width-0 { min-width: 0 !important; }

// 文本书写方向
for $breakpoint, $variant in $responsive-variants
    +breakpoint($breakpoint)
        .direction{$variant}-rtl { direction: rtl !important; }
        .direction{$variant}-ltr { direction: ltr !important; }

// 内容溢出
for $overflow in visible hidden auto scroll
    .overflow-{$overflow}   { overflow: $overflow !important; }
    .overflow-x-{$overflow} { overflow-x: $overflow !important; }
    .overflow-y-{$overflow} { overflow-y: $overflow !important; }

// 清除浮动
.clearfix
    clearfix()
