
/* 自定义元素details-dialog样式 */

.details-with-dialog[open] > summary::before
    content ''
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index $zindex-backdrop
    display block
    background $backdrop-color
    cursor default

details-dialog
    position fixed
    top 0
    left 50%
    z-index $zindex-subject
    transform translateX(-50%)
    margin 10vh auto 0
    max-width 90vw
    max-height 80vh
