/*
 * HTML元素模拟dialog
 *
 * <div class="dialog dialog-fade-in" role="dialog" aria-modal="true">
 *   <div class="dialog-header">
 *     <h4>Dialog Title</h4>
 *     <button class=dialog-close>Close Button</button>
 *   </div>
 * </div>
 * <div class="backdrop" role="none"></div>
 */

.dialog
    position fixed
    top 10vh
    left 50%
    z-index $zindex-subject
    transform translateX(-50%)
    display none
    max-width 90vw
    max-height 80vh
    color $text-gray-dark
    background-color $bg-white

    + .backdrop
        position fixed
        top 0
        right 0
        bottom 0
        left 0
        z-index $zindex-backdrop
        display none
        background-color $backdrop-color

    &.dialog-fade-in
        display block
        animation-name fade-in
        animation-duration 300ms
        animation-timing-function ease-in-out
        + .backdrop
            display block

    .dialog-header
        display flex
        align-items center
        justify-content space-between
        padding $spacer-3
        font-weight $font-weight-bold

    .dialog-close
        padding $spacer-3
        margin -($spacer-3)
        border none
        color $text-gray
        background transparent
        cursor pointer
        &:focus
            outline none
        &:hover
            color $text-blue
