// markdown编辑器

.markdown-editor
    height 500px
    display flex
    flex-direction row
    border $border
    border-radius $border-radius
    &.full-screen
        height auto
        position fixed
        top 0
        right 0
        bottom 0
        left 0
        z-index 100
        border-radius 0

    .markdown-write
        width 50%
        display flex
        flex 0 0 50%
        flex-direction column
        border-right $border
        border-top-left-radius $border-radius
        border-bottom-left-radius $border-radius
        &.single-write
            width 100%
            flex 0 0 100%
            overflow-y auto
            border-right none
            border-top-right-radius $border-radius
            .write-toolbar
                border-bottom-right-radius $border-radius

        .write-input
            width 100%
            max-width @width
            height 100%
            padding 10px 15px
            font-size 15px
            line-height $lh-default
            background-color $bg-gray-light
            border none
            border-bottom $border-width dashed $border-color
            border-top-left-radius $border-radius
            font-family $mono-font
            resize none
            &:focus
                outline none

        .write-toolbar
            margin 0
            padding 10px
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            background-color $bg-white
            border none
            border-bottom-left-radius $border-radius
            .toolbar-list
                display flex
                flex-direction row
                align-items center
                border-top none
                list-style none
                .toolbar-item
                    margin-right $spacer-3
                    &:last-child
                        margin-right 0
                    .octicon
                        vertical-align middle

    .markdown-preview
        width 50%
        flex 0 0 50%
        overflow-y auto
        padding 10px 15px
        background-color $bg-white
        border-top-right-radius $border-radius
        border-bottom-right-radius $border-radius


.markdown-editor .markdown-help
    position absolute
    bottom 200%
    padding 5px 30px
    background-color $bg-white
    border $border
    border-radius $border-radius
    .help-title
        font-size 24px
        color $text-gray
        word-break keep-all
        padding 6px 13px
    table
        color #666
        thead
            font-size 15px
        tbody
            font-size $body-font-size
            word-break keep-all
            white-space nowrap
         tr
            border-bottom $border
        th, td
            padding 6px 13px
    code
        margin 0
        padding 0.2em 0.4em
        font-size 85%
        color $text-gray-dark
        background-color rgba($black, 0.05)
        border-radius $border-radius
        font-family $mono-font
    pre
        overflow auto
        font-size 85%
        line-height 1.45
        background-color $gray-100
        border-radius $border-radius
        word-wrap normal
        code
            background-color transparent