
// markdown 脚注
.markdown-body .footnotes
    ol:last-child { margin-bottom: 0; }

    li + li { margin-top: 16px; }

    li > p
        display inline
        margin-top 0
        margin-bottom 0

    g-emoji { font-size: 1em; }
