
// https://github.com/primer/css/tree/master/src/markdown
// 通用markdown文本样式

@require '../support/index.styl';

@require 'markdown-body.styl';
@require 'list.styl';
@require 'heading.styl';
@require 'blob-csv.styl';
@require 'code.styl';
@require 'code-highlight.styl';
@require 'footnote.styl';
@require 'image.styl';
@require 'table.styl';
@require 'task-list.styl';

@require 'markdown-editor.styl';
