
// markdown to-do list

.markdown-body .task-list-item
    list-style none
    margin 0 0 0 -1.6em

    .task-list-item-checkbox
        vertical-align middle
        margin-bottom .1em

    & + .task-list-item
        margin-top 3px