/*
 * 菜单栏flex类型column垂直排列
 */

/*
 * <ul class="menu">
 *     <li class="menu-header"></li>
 *     <li class="menu=item selected" aria-selected=true></li>
 *     <li class="menu-item" aria-selected=false></li>
 * </ul>
 */
.menu
    display flex
    flex-direction column
    margin-top 0
    margin-bottom 15px
    padding-left 0
    border $border-width $border-style $gray-300
    border-radius $border-radius
    font-size $body-font-size
    line-height $lh-default
    background-color $bg-white
    list-style none

    .menu-header
        display block
        margin-top 0
        margin-bottom 0
        padding $spacer-2 10px
        font-size 13px
        font-weight $font-weight-bold
        line-height 20px
        color $gray-600
        background-color darken($gray-100, 1%)
        border-bottom $border-width $border-style $gray-200

        &:hover
            text-decoration none
        &:first-child
            border-top-left-radius $border-radius
            border-top-right-radius $border-radius
        &:last-child
            border-bottom none
            border-bottom-left-radius $border-radius
            border-bottom-right-radius $border-radius

    .menu-item
        position relative
        display block
        padding $spacer-2 10px
        border-bottom $border-width $border-style $gray-200
        color $text-blue
        cursor pointer

        &:first-child
            border-top none
            border-top-left-radius 2px
            border-top-right-radius 2px
            &::before
                border-top-left-radius 2px

        &:last-child
            border-bottom none
            border-bottom-left-radius 2px
            border-bottom-right-radius 2px
            &::before
                border-bottom-left-radius 2px
        &:hover
            text-decoration none
            background-color $gray-100

        &.selected
            font-weight $font-weight-bold
            color $text-gray-dark
            background-color $bg-white
            cursor default
            &::before
                content ''
                position absolute
                top 0
                bottom 0
                left 0
                width 2px
                background-color $orange-600

        .octicon
            margin-right 5px
            color $text-gray-dark
