// 分页

$page-item
    padding 7px 12px
    border $border
    border-right none
    font-style normal
    font-weight $font-weight-bold
    color $text-blue
    background-color $bg-white
    white-space nowrap
    cursor pointer
    user-select none

$page-gap
    color $gray-300
    background-color $bg-gray-light
    cursor default

.pagination-container
    font-size 13px

.pagination
    display flex
    flex-direction row
    align-items center
    justify-content center
    padding 0
    margin 15px 0
    list-style none

    .page-item
        @extends $page-item !optional

        &:focus
        &:hover
            z-index 2
            outline none
            text-decoration none
            background-color darken($gray-100, 2%)

        &:first-child
            border-top-left-radius $border-radius
            border-bottom-left-radius $border-radius
        &:last-child
            border-top-right-radius $border-radius
            border-bottom-right-radius $border-radius
            border-right $border
        &.disabled
            color $gray-300
            background-color $bg-gray-light
            pointer-events none

        &.selected
        &.selected:hover
            z-index 3
            color $text-white
            background-color $bg-blue
            border-color @background-color

    .page-gap
        @extends $page-item !optional, $page-gap !optional
        pointer-events none
        &:focus
            outline none
        &:hover
            @extends $page-gap !optional
