// https://github.com/primer/css/blob/master/src/truncate/truncate.scss
// css-truncate将使用省略号缩短文本

.css-truncate
    .css-truncate-target
    &.css-truncate-target
        vertical-align top
        display inline-block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        max-width 100%
        //max-width 125px

    &.expandable.zeroclipboard-is-hover .css-truncate-target
    &.expandable.zeroclipboard-is-hover.css-truncate-target
    &.expandable:hover .css-truncate-target
    &.expandable:hover.css-truncate-target
        max-width 10000px !important
