// 工具提示的延迟动画
@keyframes tooltip-appear
    from
        opacity 0
    to
        opacity 1

[tooltip], .tooltip
    position relative

    &::before
    &::after
        position absolute
        z-index 10000
        display none
        opacity 0
        pointer-events none

    &::before
        content attr(data-content) ''
        padding $em-spacer-5 $em-spacer-6
        font normal normal 11px/1.5 $body-font
        -webkit-font-smoothing subpixel-antialiased
        color $tooltip-text-color
        background-color $tooltip-background-color
        border-radius $border-radius
        text-align center
        text-decoration none
        text-shadow none
        text-transform none
        letter-spacing normal
        word-wrap break-word
        white-space pre

    &::after
        content ''
        border 6px $border-style transparent

    &:hover
        &::before
        &::after
            display inline-block
            text-decoration none
            animation-name tooltip-appear
            animation-duration $tooltip-duration
            animation-fill-mode forwards
            animation-timing-function ease-in
            animation-delay $tooltip-delay

    &[data-placement='top'],
    &.tooltip-top
        &::before
            right 50%
            bottom 100%
            margin-bottom 6px
            transform translateX(50%)
        &::after
            top -7px
            right 50%
            margin-right -6px
            border-top-color $tooltip-background-color

    &[data-placement='right']
    &.tooltip-right
        &::before
            bottom 50%
            left 100%
            margin-left 6px
            transform translateY(50%)
        &::after
            top 50%
            right -7px
            bottom 50%
            margin-top -6px
            border-right-color $tooltip-background-color

    &[data-placement='bottom']
    &.tooltip-bottom
        &::before
            top 100%
            right 50%
            margin-top 6px
            transform translateX(50%)
        &::after
            right 50%
            bottom -7px
            margin-right -6px
            border-bottom-color $tooltip-background-color

    &[data-placement='left']
    &.tooltip-left
        &::before
            right 100%
            bottom 50%
            margin-right 6px
            transform translateY(50%)
        &::after
            top 50%
            bottom 50%
            left -7px
            margin-top -6px
            border-left-color $tooltip-background-color

