// 工具提示的延迟动画
@keyframes tooltip-appear
    from
        opacity 0
    to
        opacity 1

.tooltip
    position relative

    &::before
    &::after
        position absolute
        z-index 10000
        display none
        opacity 0
        pointer-events none

    // 提示工具提示框
    &::before
        content attr(aria-label) ''
        padding $em-spacer-5 $em-spacer-6
        border-radius $border-radius
        font normal normal 11px/1.5 $body-font
        -webkit-font-smoothing subpixel-antialiased
        color $tooltip-text-color
        text-align center
        text-decoration none
        text-shadow none
        text-transform none
        letter-spacing normal
        word-wrap break-word
        white-space pre
        background-color $tooltip-background-color

    // 提示工具箭头
    &::after
        content ''
        border 6px $border-style transparent

    &:hover
    &:focus
        &::before
        &::after
            display inline-block
            animation-name tooltip-appear
            animation-duration $tooltip-duration
            animation-timing-function ease-in
            animation-delay $tooltip-delay
            animation-fill-mode forwards

    &.tooltip-top
        &::before
            right 50%
            bottom 100%
            margin-bottom 6px
            transform translateX(50%)
        &::after
            top -7px
            right 50%
            margin-right -6px
            border-top-color $tooltip-background-color

    &.tooltip-right
        &::before
            bottom 50%
            left 100%
            margin-left 6px
            transform translateY(50%)
        &::after
            top 50%
            right -7px
            bottom 50%
            margin-top -6px
            border-right-color $tooltip-background-color

    &.tooltip-bottom
        &::before
            top 100%
            right 50%
            margin-top 6px
            transform translateX(50%)
        &::after
            right 50%
            bottom -7px
            margin-right -6px
            border-bottom-color $tooltip-background-color

    &.tooltip-left
        &::before
            right 100%
            bottom 50%
            margin-right 6px
            transform translateY(50%)
        &::after
            top 50%
            bottom 50%
            left -7px
            margin-top -6px
            border-left-color $tooltip-background-color

/*
 * 多行工具提示
 *
 * 当你有很长的内容时,添加这个类.
 * 不能用换行来预先格式化文本
 * 总是"$tooltip-max-width"宽.
 */
.tooltip-multiline
    &::before
        width max-content
        max-width $tooltip-max-width
        white-space pre-line

/*
@media screen and (min-width: (0\0)) {
    // IE11
    .tooltip-multiline::before { width: $tooltip-max-width; }
}
*/
