
.pie-tooltip
    position absolute
    margin-bottom 0
    padding $spacer-2 $spacer-1
    border-radius $border-radius
    color $text-white

.chart-tag-color
    display inline-block
    margin-right $spacer-1
    width 10px
    height 10px
