// 文章目录
.article-toc
    font-size $body-font-size
    padding-left 10px
    border-left $border
    z-index 2
    .toc-title
        font-weight $font-weight-bold
        letter-spacing 2px
    .toc-list
        list-style none
        .sub-list
            list-style none
        .toc-item
            position relative
            a
                position relative
                width 100%
                padding $spacer-1 0 $spacer-1 20px
                color $text-gray-dark
                font-weight $font-weight-normal
                display block
                text-decoration none
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 3%
                    margin-top -2px
                    border 2px $border-style currentColor
                    border-radius 50%
                &:hover
                    border-radius $border-radius
                    background-color $bg-gray
                    text-decoration none
            &.g1
                a
                    font-weight $font-weight-bold
            &.g2
                a
                    font-weight $font-weight-normal
                    padding-left 35px
                    &:before
                        left 8%
            &.g3
                a
                    padding-left 50px
                    &:before
                        left 14%
            .active
                color $blue-400
                background-color $bg-gray
                border-radius $border-radius