// 编辑文章 标签
.publication

    .input-group
        display flex
        flex-direction row
        align-items center

        .input-title
        .input-summary
            margin-bottom $spacer-3
            padding $spacer-2
            border none
            border-bottom $border
            border-radius 0
            color $text-gray
            width 100%
            &:focus
                outline none
                border-bottom-color $blue-400
        .input-title
            font-size 22px
            line-height 22px
        .input-summary
            font-size 20px
            line-height 20px

    .word-number
        margin-left 6px
        font-size 13px
        font-weight $font-weight-bold
        color $text-gray

.category-list
    display flex
    flex-direction row
    align-items center
    padding 3px
    border $border
    border-radius $border-radius
    width 100%
    max-width @width
    height @width
    max-height @width
    list-style none

    &:empty
        border-color $border-red-light
        user-select none
        &:before
            content '点击左边按钮选择文章分类,请至少选择一个标签'
            font-size 15px
            color $text-gray

    .category-item
        display inline-block
        margin-right $spacer-2
        padding 6px
        border-radius 2px
        font-size $font-size-small
        font-weight $font-weight-bold
        line-height $lh-condensed-ultra
        color $text-white
        background-color $bg-blue
        box-shadow inset 0 -1px 0 rgba($black, 0.12)

        &:last-child { margin-right: 0; }
