// 页眉
.nav-header
    color $text-white
    background-color $bg-gray-dark
    font-size $body-font-size
    line-height $body-line-height
    padding 14px 0

    .nav-link
        color $text-white
        font-weight $font-weight-bold
        letter-spacing 2px
        cursor pointer
        &:hover
            opacity .7
            text-decoration none

    // header搜索框
    .nav-search
        color $text-white
        background-color rgba($bg-white, 0.125)
        font-size $body-font-size
        width 300px
        min-height 30px
        padding-left $spacer-2
        border none
        border-radius $border-radius
        &:focus
            color $text-gray-dark
            background-color $bg-white
            outline none
            box-shadow none
        &::placeholder
            color $gray-400
            opacity .9

    // 新消息提示
    .notification-dot
        position absolute
        top 0
        right 5px
        height $spacer-2
        width $spacer-2
        transform translate(100%, -50%)
        background-color $red-300
        border-radius 50%