// dialog 对话框

.modal-dialog
    .dialog
        position fixed
        top 0
        left 50%
        transform translateX(-50%)
        background-color $bg-white
        background-clip padding-box
        border $border
        border-radius $border-radius
        box-shadow 0 0 18px rgba($black, .4)
        z-index 999

        &.dialog-show
            visibility visible
            transition opacity .5s
            opacity 1
        &.dialog-fade
            visibility hidden
            opacity 0

        .dialog-header
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            padding $spacer-3
            font-weight $font-weight-bold
            color $text-gray-dark
            background-color $bg-gray
            border-top-left-radius $border-radius
            border-top-right-radius $border-radius

            .dialog-close
                padding $spacer-3
                margin -($spacer-3)
                color $text-gray
                background transparent
                border none
                cursor pointer
                &:focus
                    outline none
                &:hover
                    color $text-blue

        .dialog-body
            padding 16px
            border-top $border

        .dialog-footer
            padding 16px
            border-top $border

    // dialog背景
    .modal
        position fixed
        top 0
        right 0
        bottom 0
        left 0
        z-index 998
        background-color rgba(black, .7)
    .modal-none
        display none