.notification-list
    list-style none
    .notification-item
        padding $spacer-4 0
        border-bottom $border
        &:first-child
            padding-top 0
            padding-bottom $spacer-4
        &:last-child
            padding-top $spacer-4
            padding-bottom 0
            border-bottom none
        &:only-child
            padding-top 0
            padding-bottom 0
            border-bottom none
