// 回到顶部
.to-top-fade-in
.to-top-fade-out
    position fixed
    right 40px
    bottom 40px
    padding $spacer-1 2px
    border $border
    border-radius $border-radius
    color $gray-400
    background-color $bg-white
    cursor pointer
    writing-mode vertical-lr
    transition right 1s

.to-top-fade-out
    right -35px