// 回到顶部
.to-top-display
.to-top-fade
    position fixed
    right 40px
    bottom 40px
    color $gray-400
    background-color $bg-white
    border $border
    border-radius $border-radius
    cursor pointer
    padding $spacer-1 2px
    writing-mode vertical-lr
    transition right 1s
.to-top-fade
    right -35px