// 不支持浏览器样式
.un-support-browser
    display block
    text-align center
    font-size 15px
    width 100%
    color $red-500
    background-color $red-000
    padding $spacer-3 0
    .title
        margin 0 0 $spacer-1 0
        strong
            color $red-800
    .body a
        color $red-800
        font-weight $font-weight-bold
        &:hover
            text-decoration underline