.box
    border $border-width $border-style $border-gray-dark
    border-radius $border-radius
    background-color $bg-white

    .box-header
        padding $spacer-3
        border-bottom $border-width $border-style $border-gray-dark
        border-top-left-radius $border-radius
        border-top-right-radius $border-radius
        background-color $bg-gray

    .box-title
        font-size $body-font-size
        font-weight $font-weight-bold

    .box-body
        padding $spacer-3
        border-bottom $border-width $border-style $border-gray
        // .box-body 作为最后一个元素时,删除 border-bottom,防止双边框
        &:last-of-type
            border-bottom none
            border-bottom-right-radius $border-radius
            border-bottom-left-radius $border-radius

    .box-footer
        padding $spacer-3
        border-bottom-right-radius $border-radius
        border-bottom-left-radius $border-radius

    .box-row
        padding $spacer-3
        border-bottom $border-width $border-style $border-gray
        list-style none
        &:first-child
            border-top-left-radius $border-radius
            border-top-right-radius $border-radius
        &:last-child
            border-bottom none
            border-bottom-left-radius $border-radius
            border-bottom-right-radius $border-radius